<% include partials/header %>

<div style="margin-top: 50px;" class="ui main text container segment">
    <img class="ui fluid image"
        src="https://images.pexels.com/photos/1114897/pexels-photo-1114897.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
    <div class="ui link list">
        <li><a class="ui big label active item" href="/register">Sign Up</a></li>
        <li><a class="ui big label active item" href="/login">Login</a></li>
        <li><a class="ui big label active item" href="/logout">Logout</a></li>
    </div>
</div>

<% include partials/footer %>